
@import '../../../node_modules/roboto-fontface/css/roboto/roboto-fontface.css';
@import '../../../node_modules//font-awesome/css/font-awesome.css';

body {
  --odd-row-background-color: #CFD8DC;
  background: #000000;
  color: #DDDDDD;
  /* font-family: Arial, Helvetica, blottersans-serif;  */
  font-family: 'Roboto', sans-serif;
  cursor: auto;
}

.navbar-header {
  float: left;
}

.price-tile {
  border: solid rgba(0, 0, 255, 0.75) 1px;
  padding: 5px;
  width: 300px;
  position: relative;
}

.price-tile:hover {
  border: solid rgba(0, 0, 255, 1.0) 2px;
}

.vi-chevron {
  margin-left: 1px;
  margin-top: 6px;
  width: 17px;
  height: 11px;
}

.vi-chevron {
  width: 17px;
  height: 11px;
  background-image: url("data:image/svg+xml;utf8, \
  <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 19'> \
      <path fill='red' d='M 0.37,0 C0.37,0 13.83,0 13.83,0 13.83,0 30,9.57 30,9.57 30,9.57 13.60,19 13.60,19 13.60,19 0,19 0,19 0,19 16.01,9.50 16.01,9.50 16.01,9.50 0.37,0 0.37,0 z'/> \
  </svg>");
}

.vi-chevron {
  width: 30px;
  height: 20px;
}

select {
  margin-left: 6px;
  left: 130px;
  width: 120px;
  height: 30px;
  border: solid rgba(119,119, 119, 0.50) 1px;
  font-size: 120%;
  font-weight: 600;
}

select {
  margin-bottom: 5px;
  background: #000000;
  color: #ffffff;
  border: solid #696969 1px;
}

.ccypair-picker {
  margin-left: 8px;
  border: 1px solid rgba(119, 119, 119, 0.75);
  margin-bottom: 2px;
  display: flex;
  justify-content: flex-start;
}

.ccypair-picker:hover, .notional:hover {
  border: solid rgba(0, 0, 255, 1.0) 1px;
  cursor: pointer;
}

.ccypair-input, .notional {
  border: 1px solid rgba(119, 119, 119, 0.75);
  padding-left: 2px;
  width: 30%;
}

.div-notional {
  margin-left: 2px;
}

.notional {
  width: 98%;
}

input {
  font-size: 120%;
  font-weight: 600;  
  margin-top: 5px;
  margin-bottom: 5px;
  background: #000000;
  color: #ffffff;
  border: solid #696969 1px;
}

.price-tile-quotes {
  display: flex;
  justify-content: space-between;
}

.price-quote, .price-quotes {
  display: flex;  
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 4px;
}

.price-quote-inner {
  border: 1px solid rgba(119, 119, 119, 0.75);
  padding: 0px;
  width: 144px;
}

.price-quote-inner:hover {
  border: solid blue 1px;
  background: linear-gradient(black, blue);
  cursor: url(../../assets/Target.cur), auto;
}

.side {
  font-size: 70%;
  text-align: center;
}

.pips {
  text-align: center;
  padding: 2px;
}

.ccypair-select {
  margin-top: -5px;
  margin-left: 40px;
}

.bars {
  cursor: pointer;
  padding: 1px;
  padding-right: 7px;
  position: absolute;
  right: 1px;
  top: 0px;
  color: rgba(255, 255, 255, 0.50);
}
.bars:hover {
  color: rgba(13, 189, 255, 0.80)
}

.close {
  cursor: pointer;
  padding: 4px;
  position: absolute;
  color: lightcoral;
  right: 4px;
  top: -1px;
}

.close:hover {
  color:blue;
}

.pips-sm {
  font-size: 16px;
  vertical-align: top;
}

.pips-lg {
  font-size: 48px;
  font-weight: bold;
}

.down {
  color: red;
}

.up {
  color: green;
}

hr {
  border:solid rgba(0, 0, 255, 0.50) .5px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.statusBar {
  color: rgba(119, 119, 119, 0.80);
  font-size: 70%;
  text-align: center;
}

#nav {
  list-style:none inside;
  margin:0;
  padding:0;
  text-align:center;
  }

#nav li {
  display:block;
  position:relative;
  float:left;
  }

#nav li a {
  display:block;
  padding:0;
  text-decoration:none;
  width:200px; /* this is the width of the menu items */
  line-height:35px; /* this is the hieght of the menu items */
  color:#ffffff; /* list item font color */
  }
      
#nav li li a {font-size:80%;} /* smaller font size for sub menu items */
  
#nav li:hover {border:1px white;} /* highlights current hovered list item and the parent list items when hovering over sub menues */

/*--- Sublist Styles ---*/
#nav ul {
  position:absolute;
  padding:0;
  left:0;
  display:none; /* hides sublists */
  }

#nav li:hover ul ul {display:none;} /* hides sub-sublists */

#nav li:hover ul {display:block;} /* shows sublist on hover */

#nav li li:hover ul {
  display:block; /* shows sub-sublist on hover */
  margin-left:200px; /* this should be the same width as the parent list item */
  margin-top:-35px; /* aligns top of sub menu with top of list item */
  }

