
@import '../../../node_modules/roboto-fontface/css/roboto/roboto-fontface.css';
@import '../../../node_modules//font-awesome/css/font-awesome.css';

body {
  --color-primary: #c69963;
  --color-primary-dark: #B28451;
  
  --color-secondary: #101d2c;
  --color-secondary-dark: rgb(1, 1, 58);
  
  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;
  
  --color-grey-dark-1: #54483A;
  --color-grey-dark-2: #6D5D4B;
  
  --odd-row-background-color: #CFD8DC;
  --foreground-color:  rgba(255, 255, 255, 0.80);
  
  --accent-color: rgba(13, 189, 255, 1);
  background: var(--color-grey-dark-1); /* rgb(0,49,83); */
  color: var(--color-grey-light-1);
  /* font-family: Arial, Helvetica, blottersans-serif;  */
  font-family: 'Roboto', sans-serif;
  cursor: auto;
}

.navbar-header {
  float: left;
}

.icon-style {
  color:var(--color-primary);
  margin-top: 6px;
  margin-right: 3px;
}

.price-tile {
  border: solid rgba(0, 0, 255, 0.75) 1px;
  background: var(--color-secondary);
  padding: 5px;
  width: 300px;
  position: relative;
}

.price-tile:hover {
  border: solid var(--accent-color) 2px;
}

select {
  margin-left: 6px;
  left: 130px;
  width: 120px;
  height: 30px;
  border: solid rgba(119,119, 119, 0.50) 1px;
  font-size: 120%;
  font-weight: 600;
}

select {
  margin-bottom: 5px;
  background: #000000;
  color: var(--color-grey-light-1);
  border: solid #696969 1px;
}

.ccypair-picker {
  margin-left: 8px;
  border: 1px solid rgba(119, 119, 119, 0.75);
  margin-bottom: 2px;
  display: flex;
  background: transparent;
  justify-content: flex-start;
}

.ccypair-picker:hover, .notional:hover {
  border: solid var(--accent-color) 1px;
  color: var(--color-grey-light-2);
  cursor: pointer;
}

.notional {
  border: 1px solid rgba(119, 119, 119, 0.75);
  padding-left: 2px;
  width: 30%;
}

.div-notional {
  margin-left: 2px;
}

.notional {
  width: 98%;
}

input {
  font-size: 140%;
  font-weight: 400;  
  margin-top: 5px;
  margin-bottom: 5px;
  background: transparent;
  color: var(--color-grey-light-1);
  border: solid #696969 1px;
}

.price-tile-quotes {
  display: flex;
  justify-content: space-between;
}

.price-quote, .price-quotes {
  display: flex;  
  justify-content: space-between;
  flex-direction: row;
  margin-top: 1px;
  margin-left: 1px;
  margin-right: 4px;
}

.price-quote-inner {
  border: 1px solid rgba(119, 119, 119, 0.75);
  padding: 0px;
  width: 144px;
}

.price-quote-inner:hover {
  border: solid var(--accent-color) 2px;
  color: var(--color-grey-light-1);
  background: linear-gradient(black, rgb(152, 152, 250));
  cursor: url(../../assets/Target.cur), auto;
}

.side {
  font-size: 70%;
  text-align: center;
}

.pips {
  text-align: center;
  padding: 2px;
}

.ccypair-select {
  margin-top: -5px;
  margin-left: 40px;
}

.bars {
  cursor: pointer;
  padding: 1px;
  padding-right: 7px;
  position: absolute;
  right: 1px;
  top: 0px;
  color: rgba(255, 255, 255, 0.50);
}


.close {
  cursor: pointer;
  top: 10px;
  position: absolute;
  color: lightcoral;
  right: 4px;
  top: -1px;
}

.close:hover {
  color: var(--foreground-color);
  border: solid red 1px;
  background: 1px rgba(255, 0, 0, 0.50);
}

.pips-sm {
  font-size: 16px;
  vertical-align: top;
}

.pips-lg {
  font-size: 48px;
  font-weight: bold;
}

.down {
  color: red;
}

.up {
  color: green;
}

hr {
  border:solid rgba(0, 0, 255, 0.50) .5px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.statusBar {
  color: rgba(119, 119, 119, 0.80);
  font-size: 70%;
  text-align: center;
}

#nav {
  list-style:none inside;
  margin:0;
  padding:0;
  text-align:center;
  }

#nav li {
  display:block;
  position:relative;
  float:left;
  }

#nav li a {
  display:block;
  padding:0;
  text-decoration:none;
  width:200px; /* this is the width of the menu items */
  line-height:35px; /* this is the hieght of the menu items */
  color:#ffffff; /* list item font color */
  }
      
#nav li li a {font-size:80%;} /* smaller font size for sub menu items */
  
#nav li:hover {border:1px white;} /* highlights current hovered list item and the parent list items when hovering over sub menues */

/*--- Sublist Styles ---*/
#nav ul {
  position:absolute;
  padding:0;
  left:0;
  display:none; /* hides sublists */
  }

#nav li:hover ul ul {display:none;} /* hides sub-sublists */

#nav li:hover ul {display:block;} /* shows sublist on hover */

#nav li li:hover ul {
  display:block; /* shows sub-sublist on hover */
  margin-left:200px; /* this should be the same width as the parent list item */
  margin-top:-35px; /* aligns top of sub menu with top of list item */
  }

