@import '../../../node_modules/roboto-fontface/css/roboto/roboto-fontface.css';
@import '../../../node_modules//font-awesome/css/font-awesome.css';
@import '~ag-grid-community/dist/styles/ag-grid.css';
@import '~ag-grid-community/dist/styles/ag-theme-balham.css';



.blotter {
  --color-dark: #000000;
  margin: 5px;
  background: var(--color-dark);
  
  }
  
  .ag-grid-react {
    height: 100vh;
    width: calc(100vw)
  }

  .ag-body {
    height: 100%;
  }
  
  .ag-body-container {
    width: 100%;
  }

  .ag-body-container:blotter-cell-leftPad {
      padding-left: 5px;  
  }
  
  .ag-header-cell {
    color: #a3a3a3;
    font-family: 'Roboto', sans-serif;
    font-size: 90%;
    font-weight: 400;
    padding-top: 5px;  
  }
  
  .ag-header-cell:first-child {
      padding-left: 5px;
  }
  
  .ag-row {
    border-top: 1px solid rgba(75, 75, 75, .2);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    box-shadow: inset 0 1px 0 black;
  }
  
  .ag-row {
    border-top: 1px solid rgba(74, 74, 74, 0.40);
    -moz-box-shadow: 0 1px 0 0 rgba(74, 74, 74, 0.40);
    -webkit-box-shadow: 0 1px 0 0 rgba(74, 74, 74, 0.40);
    box-shadow: 0  1px 0 0 rgba(74, 74, 74, 0.40);
  }
  
  .ag-row-selected {
    background-color: rgba(13, 189, 255, 0.65);
    box-shadow:none;
  }

  .ag-row:hover {
    --color-grey-light-1: #f9f7f6;
    color: var(--color-grey-light-1);
    border-top: 1px solid rgba(13, 189, 255, 0.90);
    border-bottom: 1px solid rgba(13, 189, 255, 0.90) !important;
    box-shadow:none;
    font-size: 110%;
  }
    
  .ag-row:last-of-type {
    border-bottom: 1px solid  #4a4a4a;
  }
  
  .ag-row:last-of-type:hover {
    border-color:  rgba(13, 189, 255, 1) !important;
  }
  
  .ag-cell {
    line-height: 20px;
    padding-top: 6px;
    font-family: 'Roboto', sans-serif 
  }

  .ag-cell:focus {
      outline-color: transparent;  
  }
  
  .rag-red {
    color: red;
  }
  
  .rag-green {
    color: green;
  }
  
  hr {
    border:solid  #4a4a4a 1px;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  .rag-symbol {
    color: whitesmoke;
    padding: 0;
    word-spacing: -4px;
    font-size: 110%;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  