@import '../node_modules/roboto-fontface/css/roboto/roboto-fontface.css';
@import '../node_modules/font-awesome/css/font-awesome.css';
body {
  --odd-row-background-color: #CFD8DC;
  background: #000000;
  color: #DDDDDD;
  font-family: Arial, Helvetica, blottersans-serif;
  /* font-family: 'Roboto', sans-serif */
}